<section id="header" class="container-fluid px-5 mt-5" >
    <div style="height: 110vh;">
        <div class="d-flex position-relative">
            <div class="header-content position-absolute">
                <div class="header-title py-lg-3 my-lg-2">
                    <h1>Let's Find <br><span> &nbsp; your Dream.. </span></h1>
                    <h5 class="text-dark fw-bold"> &nbsp; &nbsp;Building Award Winning properties across London
                        <br>&nbsp; &nbsp; UK and All the world
                    </h5>
                </div>
                <div class="header-button">
                    <button class="header-btn">Host</button>
                    <button class="header-btn" routerLinkActive="test" routerLink="Property/Properties">Rent</button>

                </div>
                <div class="header-search d-flex align-items-center justify-content-between py-3 px-4">
                    <div class="header-search-item">
                        <p>City/Street</p>
                        <input type="text " placeholder="Enter City" class="header-search-it">
                    </div>
                    <div class="header-search-item">
                        <p>Property Type</p>
                        <input type="text " placeholder="Deluxe Portion" class="header-search-it">
                    </div>
                    <div class="header-search-item">
                        <p>Price Range</p>
                        <input type="text " placeholder="Min Price - Max Price" class="header-search-it">
                    </div>
                    <button class="btn btn-primary px-md-5 py-md-2">Search</button>
                </div>
            </div>
            <div class="header-image position-absolute w-75">
                <img src="../../assets/images/TG-Blog-Hero-Multifamily-tools-to-battle-vacancies-1290x810.webp" alt="" class="w-100">
            </div>
        </div>
    </div>
</section>
