<section id="footer" class="info">
    <div class="info-container layout-padding-top">
        <div class="container">
            <div class="info-top">
                <div class="info-logo">
                    <img style="width: 120px;" src="../../assets/images/white.png" alt="">
                    <span class="px-1 text-primary fs-1">RENT IT</span>
                </div>
                <div class="social-box">
                    <a href="">
                        <img src="../../assets/images/fb.png" alt="">
                    </a>

                    <a href="">
                        <img src="../../assets/images/twitter.png" alt="">
                    </a>

                    <a href="">
                        <img src="../../assets/images/linkedin.png" alt="">
                    </a>

                    <a href="">
                        <img src="../../assets/images/instagram.png" alt="">
                    </a>

                    <a href="">
                        <img src="../../assets/images/youtube.png" alt="">
                    </a>
                </div>
            </div>
            <div class="info-main">
                <div class="row">
                    <div class="col-md-3 col-lg-2">
                        <div class="info-link-box">
                            <h5>Useful Link</h5>
                            <ul>
                                <li class="active">
                                    <a class="" href="#home">Home</a>
                                </li>
                                <li class="active">
                                    <a class="" href="#experinces">Gallery</a>
                                </li>

                                <li class="active">
                                    <a class="" href="#about">About</a>
                                </li>
                                <li class="active">
                                    <a class="" href="#client">Contacts</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h5>Offices</h5>
                        <p>
                            Readable content of a 
                            page when looking at its 
                            layoutreadable content of 
                            a page when looking at 
                            its layout
                        </p>
                    </div>
                    <div class="col-md-3">
                        <h5>Information</h5>
                        <p>
                            The most beautiful axeclusive properties and laxury apartments
                        </p>
                    </div>
                    <div class="col-md-3">
                        <div class="info-form">
                            <h5>NewsLatter</h5>
                            <form action="">
                                <input class="form-control me-2" type="email" placeholder="email">
                                <button>Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-9 col-md-10 mx-auto">
                        <div class="info-contact layout-padding2">
                            <div class="row">
                                <div class="col-md-3">
                                    <a href="#" class="link-box">
                                        <div class="img-box">
                                            <img src="../../assets/images/location.png" alt="">
                                        </div>
                                        <div class="degital-box">
                                            <h6>location</h6>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-5">
                                    <a href="#" class="link-box">
                                        <div class="img-box">
                                            <img src="../../assets/images/mail.png" alt="">
                                        </div>
                                        <div class="degital-box">
                                            <h6>ModermRent-Gmail.com</h6>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4">
                                    <a href="" class="link-box">
                                        <div class="img-box">
                                            <img src="../../assets/images/call.png" alt="">
                                        </div>
                                        <div class="degital-box">
                                            <h6>+020121111634</h6>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Info Section-->